@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    background-color: #194791;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

@media (max-width: 900px) {
    body {
        font-size: 16px;
    }
    .navigation {
        flex-direction: column;
        gap: 10px;
    }
    .header {
        padding: 35px 0;
        display: flex;
        justify-content: center;
    }
    .main-content {
        margin-top: 80px !important;
    }

    
}
body::-webkit-scrollbar {
    width: 10px;
    background-color: white;
}
body::-webkit-scrollbar-thumb {
    background-color: silver;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px white;
    background-color: transparent;
}
.header {
    padding: 14px 20px;
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    background-color: #073f6a;
    transition: top 0.3s;
    z-index: 1000;
    max-width: 1920px;
    margin: 0 auto;
    border: 2px solid rgb(37, 197, 194);
}
.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-link,
.footer-brand {
    text-decoration: none;
    color: rgb(37, 197, 194);
    font-weight: 900;
    font-size: 22px;
    transition: color 0.3s ease;
    letter-spacing: 10px;
}
.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.nav-item {
    margin-left: 20px;
}
.nav-link {
    font-weight: 100;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    border-bottom: 1px solid transparent;
    transition: color 0.3s ease;
}

@media (max-width: 550px) {
    .nav-item {
        margin-left: 5px;
        font-size: 14px;
    }
    .nav-link {
        padding: 2px 5px;
    }
}

.nav-list.show {
    opacity: 1; /* Показываем меню, когда оно активно */
    max-height: 100%; /* Позволяем ему занимать полную высоту */
}

.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 10000;
}

.burger-line {
    width: 30px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin: 3px 0;
    transition: 0.3s;
}

.burger-menu.active .burger-line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.burger-menu.active .burger-line:nth-child(2) {
    opacity: 0;
}

.burger-menu.active .burger-line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

@media (max-width: 730px) {
    .nav-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        transition: max-height 0.3s ease, opacity 0.3s ease;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
    }
    .nav-list {
        display: flex;
    }

    .burger-menu {
        display: flex;
        margin-right: 15px;
    }
    .navigation {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.main-content {
    margin-top: 50px;
}

.navigation {
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
}

@media (max-width: 768px) {
    .main-content {
        margin-top: 52px;
    }
    .navigation {
        justify-content: space-evenly;
    }
}

.nav-list {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-item {
    position: relative;
}

@media (max-width: 730px) {
    .burger-menu {
        display: flex;
    }
    .nav-list {
        position: fixed; /* Меню фиксируется на экране */
        top: 0; /* Располагается в верхней части экрана */
        left: 0; /* Для растяжения на всю ширину */
        width: 100%; /* Ширина 100% */
        height: 100%; /* Высота 100% */
        background-color: #073f6a; /* Цвет фона меню */
        display: flex; /* Используем flexbox для упрощенного выравнивания */
        flex-direction: column; /* Элементы в колонку */
        justify-content: center; /* Центрировать элементы по вертикали */
        align-items: center; /* Центрировать элементы по горизонтали */
        opacity: 0; /* Скрыто по умолчанию */
        transition: opacity 0.3s ease; /* Плавное появление */
        z-index: 999; /* Убедитесь, что меню над другими элементами */
    }
    .nav-list.active {
        display: flex;
    }
}

@media (max-width:426px) {
    .header{
        background-color: transparent;
        border-bottom: none;
    }

    .header-link{
        display: none;
    }
    
    .burger-line{
        background-color: white;
    }
    .main-content{
        margin-top: 0;
    }
    .slider-header{
        margin-top: 0;
    }
    .burger-menu{
        z-index: 10000;
        position: fixed;
        right: 15px;
        top: 15px;
    }
    .nav-list{
        top: 0;
    }
    .header {
        border: none;
    }
}

.site-footer {
    background-color: #073f6a;
    color: #ffffff; /* Светлый цвет текста */
    padding: 10px 0;
    margin-top: auto;
}

.footer-content {
    max-width: 1400px; /* Максимальная ширина футера */
    margin: 0 auto; /* Центрирование */
    padding: 0 20px; /* Отступы */
    display: flex; /* Для выравнивания по строкам */
    flex-direction: row; /* Вертикальное расположение элементов */
    align-items: center; /* Центрирование элементов по горизонтали */
    justify-content: space-between;
}

.footer-details {
    margin-bottom: 10px; /* Отступ внизу */
    text-align: center; /* Центрирование текста */
}

.footer-location,
.footer-phone,
.footer-email {
    color: #ffffff; /* Цвет текста */
    display: flex; /* Блочный элемент для переноса на новую строку */
    align-items: center;
    gap: 8px;
    text-decoration: none; /* Убираем подчеркивание */
    transition: color 0.3s ease;
}

.footer-links {
    margin-bottom: 10px; /* Отступ внизу */
    text-align: center; /* Центрирование */
}

.footer-links a {
    margin: 0 10px; /* Группируем ссылки с отступами */
    color: rgb(37, 197, 194);
    text-decoration: none; /* Убираем подчеркивание */
    transition: color 0.3s; /* Плавный переход цвета */
}

.footer-badges {
    display: flex; /* Для выстраивания значков в ряд */
    justify-content: center; /* Центрирование */
}

.footer-age-restriction {
    max-width: 50px; /* Максимальная ширина значков */
    margin: 0 5px; /* Отступ между значками */
}

.footer-badge {
    max-width: 150px; /* Максимальная ширина значков */
    margin: 0 5px; /* Отступ между значками */
}

.footer-rights {
    text-align: center; /* Центрируем текст */
    margin-top: 10px; /* Отступ сверху */
    font-size: 14px; /* Размер шрифта */
}
.footer-warn {
    text-align: center; /* Центрируем текст */
    padding: 8px;
    font-size: 14px; /* Размер шрифта */
}

/* Адаптивность */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column; /* Убеждаемся, что элементы остаются вертикальными на маленьких экранах */
    }
}






















  
@media (min-width: 1025px) {
    .header-link:hover,
    .footer-brand:hover {
        color: rgb(253, 253, 253);
    }
    .nav-link:hover {
        color: rgb(37, 197, 194);
    }
    .footer-location:hover,
    .footer-phone:hover,
    .footer-email:hover {
        color: rgb(37, 197, 194);
    }
    .footer-links a:hover {
        color: rgb(253, 253, 253);
    }
}